<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="de">
<head>
    <title>Poker Mavens Admin Web UI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Dein Name ist <span th:text="${realName}">Nick Knatterton</span>!</div>
<div><a href="/">Startseite</a></div>
</body>
</html>